 <div>
 <div class="row">
        
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/imagenes/{{img}}" alt="">
                </a>
            </div>
            
            <div class="col-md-5">
            
                <h3>{{name}}</h3>
                <h4>CODIGO: {{code}}</h4>
                 
                <p>{{description}} </p>
                    
            </div>
        </div>
        <br>
        <br>
    </div>