
<div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="{{id}}" ><img src="/imagenes/{{img}}" style="width: 320px; height: 280px" alt=""></a>
                            <div class="caption">
                                <h4 class="pull-right">{{precio}} €</h4>
                                <h4><a href="{{id}}">{{interprete}}</a>
                                </h4>
                                <h5>{{title}}</h5>
                                <p>{{subtitle}}</p>
                            </div>
                     
                        </div>
                        <br>
                    </div>