
<!DOCTYPE html>
<html lang="en">

<head>
    <title>VirtualVinilo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/src/assets/css/bootstraptheme.css" />
    <script src="js/cookie.js"></script>
    <script src="js/addProducts.js"></script>
    <script src="js/editor.js"></script>
</head>

<body>
<br/>
<br/>

<app-header></app-header>  
<router-outlet></router-outlet>
<app-footer></app-footer>  

</body>
</html> 