

<div>

 <div class="col-md-9 user-wrapper">
                <div class="alert alert-info">
                	<h3>{{resource.interprete}}  </h3>
                    <h3>{{resource.title}}  </h3>
                    <p>
                       {{resource.subtitle}}
                    </p>
                </div>
                <hr />
                <br>
                <!-- <div class="description"> -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="text-muted bootstrap-admin-box-title">Datos del Vinilo</div>
                    </div>
                    <div class="clearfix">
                        <div class="col-sm-4">
                            <h3>Intérprete</h3>
                            <p>{{resource.interprete}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Fecha</h3>
                            <p>{{resource.fecha}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Estado</h3>
                            <p>{{resource.estado}}</p>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="col-sm-4">
                            <h3 class="text-left">Album</h3>
                            <p>{{resource.album}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Precio</h3>
                            <p>{{resource.precio}}</p>
                        </div>
                        
                        <div class="col-sm-4">
                            <h3>Código</h3>
                            <p>{{resource.codigo}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>Código</h3>
                            <p><a [routerLink]="['/carrito',resource.id]"><h4>Comprar Producto</h4></a> </p>
                        </div>
                        
                    <br>
                </div>
               
                <br>
<div class="row">
                <div class="col-lg-9">
                    <form class="form-horizontal" action="{{id}}/addComment" method="post">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="col-lg-2  col-md-2 col-sm-7 col-xs-12 control-label text-center">
                                   <button (click)="addContent()">addContent</button>
                                </label>
                            <div class="col-lg-10 col-md-10 col-xs-12">
                            	<input type="textarea" name="asunto" style="width:700px; height:25px" class="form-control col-lg-10 col-md-10 col-xs-12"[(ngModel)]="inputContent1" placeholder="Asunto.">           
                                <br>
                                <input id="textarea-wysihtml5" type="textarea" name="message" style="width:700px; height:50px" class="form-control col-lg-10 col-md-10 col-xs-12"[(ngModel)]="inputContent2" placeholder="Introduce un comentario.">
                            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
             <br>
        
        <!-- RATINGS ROW -->
        <div class="well">
            <div class="row">
                <div class="col-md-12">
                    <span class="pull-left"><h3>Comentarios</h3></span>
                </div>
            </div>
            <hr>
			
            <div class="row">
                <div class="col-md-12">
                    <ul>
                    <li *ngFor="let elem of asunto"><h4>{{elem}}</h4></li>
                    <li *ngFor="let elem1 of comentarios"><p>{{elem1}}</p></li>
                    </ul>                 
                </div>
            </div>
            <hr>
		
            
        </div>
</div>